<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<h1>Tommy's 2016 Cycling Goals</h1>
<h2><%= 3000-content.ytdDistance %> miles to go</h2>
<h2 style="color:red;"><%= content.daysSinceLastRide %> days since last ride</h2>

<hr />
<h2>YTD Totals</h2>
<h4><%= content.ytdClimbing %> feet</h4>
<h4><%= content.ytdDistance %> miles</h4>
<h4><%= content.ytdTime %> hours</h4>
<h4><%= content.ytdAverageSpeed %> miles per hour </h4>

<hr />
<h2>Recent Activity</h2>
<h4><a href="https://www.strava.com/activities/<%= content.recentActivityID %>" target="_blank"><%= content.recentActivityName %></a></h4>

</body>
</html>